body{
	text-align:center;
	padding-top:60px;
	font-family:'Josefin Sans', sans-serif;
	
}
html{
	height:100%;
}
p{
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
}
#home_container{
	background-color:#f86700;
}
.table-responsive .tabel{
	margin-bottom:0px!important;
}
.position{
	padding-top: 10px;
    color: #ffffff;
    font-size: 30px;
	float:right!important;
	margin-right:12px;
}
.site-hero-content {
    height: 678px;
    text-align: center;
    color: #FFF;
    
}
.badge-notify {
    background-color:#fc8019;
    position: relative;
    top: -20px;
    right: 10px;
}
.navbar-header.header {
    margin-top: 10px;
}

button a{
    color:inherit;
	font-family: 'Staatliches', cursive;
}
.info{
    padding-top: 20px;
	color:red;
	font-weight:bold;
	font-size:120%;
}
marquee{
	text-align:center;
}
div.radiotext label {
    margin: 10px 10px 0px 0px;
}
#imei_form {
        display: inline-block;
    width: 20%;
    border: 3px solid #fff;
    border-radius: 4px;
    background: none;
    color: #fff;
    height: 38px;
    font-size: 30px;
    box-shadow: none;
}

div.table-responsive td {
	text-align: left;
	
}
.nav-tabs li.active a{
	color:#c768a2;
	font-size:22px;
	
}
div.table-responsive table>tbody>tr>td:nth-child(1) {
	width: 40%;
}
div.table-responsive table>tbody>tr>td:nth-child(2) {
	width: 30%;
}
div.table-responsive table>tbody>tr>td:nth-child(3) {
	width: 30%;
	text-align:center;
}
.table-responsive table .br-none{
	border-top:0;
}
.blue-bg{
	background:#4bdcc1;
}
.blue-bg .table-responsive table th, .blue-bg .table-responsive table td{
	border-color:#fff;
}
.Model_name{
	    font-family: 'Staatliches', cursive;
    font-size: 40px;
    border-bottom: 3px solid #9ca0a0;
    color: #286090;
}
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    
    text-align: center;
}
.text-right{
	text-align:right;
}
.controller{
	width: 45%;
    height: 20%;
}
.well{
	background-color:#fff;
}
/* Service Form Style */
.main-center {
    margin-top: 30px;
	text-align:left;
	
    margin: 0 auto;
    padding: 10px 40px;
    background: #009edf;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
.mx-width{
	max-width:350px;
	
}
/* Service Form Style End*/
/* Input Form Style start*/
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.navbar-inverse .navbar-brand{
	color:#FFF;
}

/* Input Form Style End*/
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}
#brand_container{
	padding-top:80px;
	/* background-color:#f86700; */
}
/* Tooltip Styling Starts*/
#someelem
    {
    cursor: pointer;
    }

.my-tooltip p strong{
	font-size:18px;
	border-bottom: 1px solid #000;
	margin-bottom:10px; 
}
.modal-content{
	width:80%;
	left:10%;
	text-align:left;
	color:#000;
	font-family:sans-serif;
}
.modal-body{
	font-size:16px;
	padding: 0 15px;
}
/* .my-tooltip {
  visibility: hidden;  
}
#someelem:hover .my-tooltip {
  visibility: visible;
}
 *//* Tooltip Styling End*/
/* Resposive Coding Starts */
@media (max-width: 767px) {
		
	marquee{
		width:80%;
	}
	.site-hero {
		padding-bottom:150%;
	}
    .controller{
        width: 120%;
		height: 15%;
	}
	.well{
		margin-bottom:0px;
	}
	#imei_form{
		width:50%;
		text-align:center;
	}
	#disabled{
		display:none;
	}
	div.table-responsive table>tbody>tr>td:nth-child(1) {
	width: 50%;
}
div.table-responsive table>tbody>tr>td:nth-child(2) {
	width: 30%;
}
div.table-responsive table>tbody>tr>td:nth-child(3) {
	width: 20%;
	
}

	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
		white-space:initial;
	}
}
@media (min-width: 767px) {
.navbar-header {
    float: none;
}
.mx-width{
	padding-left:100px;
	
}
}
@media only screen and (max-width: 992px) {
.display{
	display:none;
}
} 
@media (min-width: 320px) and (max-width: 480px) {
#imei_bar{
	width:90%!important;
}
#validate{
	width:50px!important;
}
#controls input{
	font-size:22px!important;
}
} 

