body{
	text-align:center;
	padding-top:60px;
	font-family:'Josefin Sans', sans-serif;
	
}
html{
	height:100%;
}
p{
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
}

.site-hero {
    position: relative;
    padding-bottom: 50%;
    background: #45d4ba url(../images/banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
	top:-10px;
}
.header-banner{
	background:cover;
}
.site-hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #FFF;
    
}
.vert-center-wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.vert-center {
    display: table-cell;
    vertical-align: middle;
}
button a{
    color:inherit;
	font-family: 'Staatliches', cursive;
}
.info{
    padding-top: 20px;
	color:#92c500;
	font-weight:bold;
	font-size:120%;
}
marquee{
	text-align:center;
}
div.radiotext label {
    margin: 10px 10px 0px 0px;
}
#imei_form {
        display: inline-block;
    width: 20%;
    border: 3px solid #fff;
    border-radius: 4px;
    background: none;
    color: #fff;
    height: 38px;
    font-size: 30px;
    box-shadow: none;
}

div.table-responsive td {
	text-align: left;
	
}
.nav-tabs li.active a{
	color:#c768a2;
	font-size:22px;
	
}
div.table-responsive table>tbody>tr>td:nth-child(1) {
	width: 40%;
}
div.table-responsive table>tbody>tr>td:nth-child(2) {
	width: 30%;
}
div.table-responsive table>tbody>tr>td:nth-child(3) {
	width: 30%;
	text-align:center;
}
.table-responsive table .br-none{
	border-top:0;
}
.blue-bg{
	background:#4bdcc1;
}
.blue-bg .table-responsive table th, .blue-bg .table-responsive table td{
	border-color:#fff;
}
.Model_name{
	    font-family: 'Staatliches', cursive;
    font-size: 40px;
    border-bottom: 3px solid #9ca0a0;
    color: #286090;
}
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    margin-top: 100px;
    text-align: center;
}
.controller{
	width: 45%;
    height: 20%;
}
.well{
	background-color:#fff;
}
/* Service Form Style */
.main-center {
    margin-top: 30px;
	text-align:left;
	
    margin: 0 auto;
    padding: 10px 40px;
    background: #009edf;
    color: #FFF;
    text-shadow: none;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
}
.mx-width{
	max-width:350px;
	
}
/* Service Form Style End*/
/* Input Form Style start*/
#box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.gradient-border {
  --borderWidth: 3px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Input Form Style End*/
.container-fluid{
	padding-left:0px;
	padding-right:0px;
}
#brand_container{
	padding-top:60px;
}
/* Navbar color */
.navbar-default {
    background-color: #194f79;
    border-color: #383780;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
@media (max-width: 767px) {
		
	marquee{
		width:80%;
	}
	.site-hero {
		padding-bottom:150%;
	}
    .controller{
        width: 120%;
		height: 15%;
	}
	.well{
		margin-bottom:0px;
	}
	#imei_form{
		width:50%;
		text-align:center;
	}
	#disabled{
		display:none;
	}
	div.table-responsive table>tbody>tr>td:nth-child(1) {
	width: 50%;
}
div.table-responsive table>tbody>tr>td:nth-child(2) {
	width: 30%;
}
div.table-responsive table>tbody>tr>td:nth-child(3) {
	width: 20%;
	
}

	.table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th{
		white-space:initial;
	}
}
@media (min-width: 767px) {
    
.mx-width{
	padding-left:100px;
	
}
}