body{
	text-align:center;
	padding-top:50px;
	font-family:'Josefin Sans', sans-serif;
}
html{
	height:100%;
}
p{
	font-family: 'Josefin Sans', sans-serif;
	font-size:18px;
}

.header-banner{
	background:cover;
}
.site-hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #4f7d4e;
    padding-top: 65px;
}
.vert-center-wrap {
    display: table;
    height: 100%;
    width: 100%;
}
.vert-center {
    display: table-cell;
    vertical-align: middle;
}
button a{
    color:inherit;
	font-family: 'Staatliches', cursive;
}
.info{
    padding-top: 20px;
	color:#c71334;
	font-weight:bold;
}
div.radiotext label {
    margin: 10px 10px 0px 0px;
}
#imei_form {
        display: inline-block;
    width: 20%;
    border: 3px solid #fff;
    border-radius: 4px;
    background: none;
    color: #fff;
    height: 38px;
    font-size: 30px;
    box-shadow: none;
}

div.table-responsive td {
	text-align: left;
	
}
.nav-tabs li.active a{
	color:#c768a2;
	font-size:22px;
	
}
div.table-responsive table>tbody>tr>td:nth-child(1) {
	width: 40%;
}
div.table-responsive table>tbody>tr>td:nth-child(2) {
	width: 30%;
}
div.table-responsive table>tbody>tr>td:nth-child(3) {
	width: 30%;
	text-align:center;
}
.table-responsive table .br-none{
	border-top:0;
}
.blue-bg{
	background:#4bdcc1;
}
.blue-bg .table-responsive table th, .blue-bg .table-responsive table td{
	border-color:#fff;
}
.Model_name{
	    font-family: 'Staatliches', cursive;
    font-size: 40px;
    border-bottom: 3px solid #9ca0a0;
    color: #286090;
}
h1 {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
    margin-top: 100px;
    text-align: center;
}
.controller{
	width:25%;
	height:25%;
}
/* Navbar color */
.navbar-default {
    background-color: #194f79;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}